:root {
    --principal-color: #ff2c1f;
    --secondary-color: #020307;
    --text-color1: #fff;
    --text-color2: #a0a0a0;
}

.container-horizontal-slide {
    max-width: 1200px;
    margin: auto;
}

.horizontal-slide {
    margin: 150px auto;
    
}

.horizontal-slide .horizontal-slide-title  {
    color: var(--text-color1);
    margin: 50px 30px;
    font-size: 1.3rem;
}




.swiperslide img {
    width: 85%;
    border-radius: 10px;
}

.swiperslide h4 {
    color: var(--text-color1);
    
}




@media only screen and (max-width: 1300px) {
    .container-horizontal-slide {
        max-width: 1000px;
        margin: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .container-horizontal-slide {
        max-width: 750px;
        margin: auto;
    }

    .container-horizontal-slide {
        padding-top: 6rem;
    }

    .swiperslide img {
        width: 90%;
    }

    .horizontal-slide {
        margin: 140px 0px;
    }

    .horizontal-slide .horizontal-slide-title  {
        font-size: 1.1rem;
       
    }

    .swiperslide h4 {
        font-size: 1rem;
        
    }
}

@media only screen and (max-width: 774px) {
    .horizontal-slide {
        margin: 80px auto;
        
    }

    .container-horizontal-slide {
        max-width: 550px;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .horizontal-slide {
        margin: 30px auto;
        
    }

    .container-horizontal-slide {
        max-width: 450px;
        margin: auto;
    }
}


@media only screen and (max-width: 474px) {
    .horizontal-slide {
        margin: 0px auto;
        
    }

    .container-horizontal-slide {
        max-width: 360px;
        margin: auto;
    }

    .swiperslide img {
        width: 100%;
    }

    .horizontal-slide {
        margin: 100px 0px;
    }

    .swiperslide h4 {
        font-size: 0.85rem;
        
    }

    .horizontal-slide .horizontal-slide-title  {
        font-size: 0.8rem;
       
    }
}

    


