:root {
    --principal-color: #ff2c1f;
    --secondary-color: #020307;
    --text-color1: #fff;
    --text-color2: #a0a0a0;
}


.background-image {
    height: 80vh;
    position: relative;
    object-fit: cover;
    object-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 100%;
}

.background-image::before {
    content: "";
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    z-index: 1;
    
    
}

.background-image .background-title h2 {
    position: relative;
    z-index: 2;
    color: var(--text-color1);
    font-size: 5rem;
}

.favourite-movies {
    color: var(--text-color1)
}

.container-movies{
    max-width: 1200px;
    margin: auto;
}

.container-movies .container-movie-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 40px;
    margin: 90px auto;
}

.container-movie-card img {
    border-radius: 10px;
    width: 320px;
}



.movie-card h3 {
    text-decoration: none;
    color: var(--text-color1);
    font-size: 1.3rem;
}

.movie-card a {
    text-decoration: none;
}

.favourite-movies span {
    background-color: var(--principal-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.favourite-movies span:hover {
    background-color: var(--text-color1);
    color: var(--principal-color);
    border: 1px solid var(--principal-color);
}

.search-container {
    text-align: center;
    padding-top: 50px;

}

.search-form input {
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--principal-color);
    color: var(--text-color1);
    font-weight: 700;
    font-size: 15px;
    border: 1px solid var(--text-color1);
    height: 30px;
    border-radius: 10px;
}

.search-form input:hover {
    background-color: var(--text-color1);
    color: var(--principal-color);
    border: 1px solid var(--principal-color);
}



