:root {
    --principal-color: #ff2c1f;
    --secondary-color: #020307;
    --text-color1: #fff;
    --text-color2: #a0a0a0;
}

.background-movies {
    position: relative;
    width: 100%;
    margin: 0 auto
}

.background-movies-container .background-movies img {
    width: 100%;
}

.background-movies-container .background-movies h2 {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: var(--text-color1);
}




.favourite-movies {
    color: var(--text-color1)
}

.container-movies{
    max-width: 1200px;
    margin: auto;
}

.container-movies .container-movie-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 40px;
    margin: 90px auto;
}

.container-movie-card img {
    border-radius: 10px;
    width: 300px;
}



.movie-card h3 {
    text-decoration: none;
    color: var(--text-color1);
    font-size: 1.3rem;
}

.movie-card a {
    text-decoration: none;
}

.favourite-movies span {
    background-color: var(--principal-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.favourite-movies span:hover {
    background-color: var(--text-color1);
    color: var(--principal-color);
    border: 1px solid var(--principal-color);
}

.search-container {
    text-align: center;
    padding-top: 120px;

}

.search-form input {
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--principal-color);
    color: var(--text-color1);
    font-weight: 700;
    font-size: 15px;
    border: 1px solid var(--text-color1);
    height: 30px;
    border-radius: 10px;
}

.search-form input:hover {
    background-color: var(--text-color1);
    color: var(--principal-color);
    border: 1px solid var(--principal-color);
}

@media only screen and (max-width: 1300px) {
    .container-movies{
        max-width: 980px;
        margin: auto;
    }

    .container-movie-card img {
        width: 220px;
    }
}

@media only screen and (max-width: 1024px) {
    .background-movies-container .background-movies h2 {
        font-size: 3rem;
    }

    .container-movies{
        max-width: 980px;
        margin: auto;
    }


    .container-movie-card img {
        width: 200px;
    }

    .container-movies .container-movie-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
        gap: 40px;
        margin: 90px ;
    }

    .movie-card h3 {
        font-size: 1rem;
    }

    .favourite-movies span {
       
        padding: 5px 10px;
        font-size: 0.9rem;
    }
       
    .search-form input {
        font-size: 12px
    }    
        
}

@media only screen and (max-width: 600px) {
    .background-movies-container .background-movies h2 {
        font-size: 2rem;
    }

    .search-form input {
        font-size: 10px
    } 
}

@media only screen and (max-width: 474px) {
   
    .container-movie-card img {
        width: 150px;
    }

    .movie-card h3 {
        font-size: 0.9rem;
    }

    .favourite-movies span {
       
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    .search-form input {
        width: 250px;
    }
}