:root {
    --principal-color: #ff2c1f;
    --secondary-color: #020307;
    --text-color1: #fff;
    --text-color2: #a0a0a0;
}


.background-image {
    height: 80vh;
    position: relative;
    object-fit: cover;
    object-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 100%;
}

.background-image::before {
    content: "";
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    z-index: 1;
    
    
}

.background-image .background-title h2 {
    position: relative;
    z-index: 2;
    color: var(--text-color1);
    font-size: 5rem;
}





