:root {
    --principal-color: #ff2c1f;
    --secondary-color: #020307;
    --text-color1: #fff;
    --text-color2: #a0a0a0;
}


.header_container {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    transition: 0.5s;
}

.header-shadow {
    background-color: var(--secondary-color);
}



.header_container .nav_container {
    
    display: flex;
   margin-left: 3.25rem;
    
}

.nav_container .nav_list .nav_item {
    display: inline-block;
    
}

.nav_list .nav_item .nav_link {
    text-decoration: none;
    color: var(--text-color2);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 10px;
    padding: 0 4px;
    position: relative;
}

.nav_list .nav_item .nav_link:hover {
    color: var(--text-color1)
}


.nav_list .nav_item .nav_link::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--principal-color);
    left: 0;
    bottom: -5px;
    transition: 0.3s all linear;
    
}

.nav_list .nav_item .nav_link:hover:after {
    width: 100%;
}




.container-log .sign-in, .container-log .log-in {
    border: 1px solid var(--principal-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--text-color1);
    background-color: var(--principal-color);
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
} 

.container-log .sign-in {
   margin-right: 1.5rem;
}

.container-log .sign-in:hover, .container-log .log-in:hover {
    border: 1px solid var(--principal-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--principal-color);
    background-color: var(--text-color1);
    font-weight: 600;
} 

#menu-icon {
    color: var(--text-color1);
    cursor: pointer;
    z-index: 10000;
    font-size: 30px;
    display: none;
}



@media only screen and (max-width: 1024px) {

    .header_container {
        padding: 20px 50px;
        
    }
    .header_container .nav_container {
        margin-left: 0rem;
    }

    .nav_list .nav_item .nav_link {
        font-size: 1rem;
    }

    .container-log .sign-in, .container-log .log-in {
        padding: 5px 10px;
        font-size: 1rem;
    }
   
}

@media only screen and (max-width: 774px) {

    .header_container {
        padding: 20px 50px;
    }

    .container-log {
        margin-left: 20px;
    }

    #menu-icon {
        display: initial;
        color: var(--text-color1);
    }

    .nav_container {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        background-color: var(--secondary-color);
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -126px;
        transition: 0.2s all linear;
        text-align: center;
        height: 35vh;
      
    }
        
     .nav_list {
         margin-left: auto;
         margin-right: auto;
     }   
        
    

    .nav_container .nav_list .nav_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 60px;
        padding-top: 30px;
    }

    .nav_list .nav_item .nav_link  {
        width: 100%;
        color: var(--text-color1);
    }

    .nav_list .nav_item .nav_link:hover {
        color: var(--principal-color);
        border-bottom: 1px solid var(--principal-color);
        
    }


    .nav_list .nav_item .nav_link::after {
       display: none;
    }

    .nav_container.active {
        top: 100%;
    }

}



@media only screen and (max-width: 474px) {
    .header_container {
        padding: 20px 20px;
        
    }
    .container-log .sign-in, .container-log .log-in {
        font-size: 0.70rem;
        padding: 3px 10px;
    }

    #menu-icon {
        font-size: 24px;
    }

    .nav_container .nav_list .nav_item {
      
        line-height: 30px;
        padding-top: 60px;
    }
}

@media only screen and (max-width: 360px) {
    .header_container {
        padding: 20px 15px;
        
    }

    .container-log .sign-in {
        margin-right: 0.5rem;
    }

     #menu-icon {
        font-size: 20px;
    }
}










