:root {
    --principal-color: #ff2c1f;
    --secondary-color: #020307;
    --text-color1: #fff;
    --text-color2: #a0a0a0;
}


.header_container {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    display: flex;
    z-index: 1000;
    justify-content: space-around;
    
    
}



.header_container .nav_container {
    
    display: flex;
    padding-top: 48px;
    
}

.nav_container .nav_list .nav_item {
    display: inline-block;
    
}

.nav_list .nav_item .nav_link {
    text-decoration: none;
    color: var(--text-color2);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 10px;
    padding: 0 4px;
    position: relative;
}

.nav_list .nav_item .nav_link:hover {
    color: var(--text-color1)
}


.nav_list .nav_item .nav_link::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background-color: var(--principal-color);
    left: 0;
    bottom: -5px;
    transition: 0.3s all linear;
    
}

.nav_list .nav_item .nav_link:hover:after {
    width: 100%;
}

.container-log{
    padding-right: 50px;
}




.container-log .sign-in, .container-log .log-in {
    border: 1px solid var(--principal-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--text-color1);
    background-color: var(--principal-color);
    font-weight: 600;
    cursor: pointer;
} 

.container-log .sign-in {
    margin-right: 30px;
    margin-left: 100px;
}

.container-log .sign-in:hover, .container-log .log-in:hover {
    border: 1px solid var(--principal-color);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--principal-color);
    background-color: var(--text-color1);
    font-weight: 600;
} 