.scrollslide-container {
    max-width: 1800px;
    margin: auto;
}

.scrollslide {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin: 80px 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.scrollslide-images {
    margin: auto 10px;
    max-width: 100%;
}

.scrollslide-images img {
    width: 250px;
    border-radius: 10px;
}

.scrollslide-left, .scrollslide-right {
    cursor: pointer;
    position: absolute;
    color: white;
    top: 50%;
    right: 90%;
    z-index: 1;
    font-size: 35px;
    font-weight: 700;
    padding: 1rem;
    margin-top: 740px;
}

.scrollslide-left:hover, .scrollslide-right:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: red;
    transition: all 0.5s ease-in;
}

.scrollslide-right {
    left: 96%;
}

